@font-face {
    font-family: 'Hero Light Light';
    src: url('../fonts/Hero\ Light\ Light.woff') format('woff'), url('../fonts/Hero\ Light\ Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Patriciana';
    src: local('Patriciana'), url('../fonts/Patriciana.woff2') format('woff2'), url('../fonts/Patriciana.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vidaloka';
    src: local('Vidaloka'), local('Vidaloka-Regular'), url('../fonts/Vidaloka-Regular.woff2') format('woff2'),
        url('../fonts/Vidaloka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JOURNALISM';
    src: local('JOURNALISM'), url('../fonts/JOURNALISM.woff2') format('woff2'), url('../fonts/JOURNALISM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Recolors Personal Use';
    src: url('../fonts/Recolors\ Personal\ Use.woff2') format('woff2'), url('../fonts/Recolors\ Personal\ Use.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
