:root {
    --font-family: 'Hero Light Light', sans-serif;
    --second-family: 'Patriciana', sans-serif;
    --third-family: 'Vidaloka', sans-serif;
    --font3: 'JOURNALISM', sans-serif;
    --font4: 'Recolors Personal Use', sans-serif;
}
